@media (max-width: 600px) {
  /*reapeating classes*/
  .none{
    display: none;
  }
  /* header beginig */
  header{
    padding: 12px 24px;
  }

  /* landing */
  .landing{
    padding: 0px 24px;
  }
  }