@media (max-width: 600px) {
  /*reapeating classes*/
  .none{
    display: none;
  }
  .column{
    flex-direction: column;
  }
  .width{
    width: 100%;
  }
  /* header beginig */
  header{
    padding: 12px 24px;
  }

  /* landing */
  .landing{
    padding: 0px 24px;
  }
  section{
    img {
      width: 100%;
      height: auto;
    }
  }
  .org-2{
    img {
      width: 40px;
      height: 40px;
    }
  }

  }